.hero {
    background-image: url('/assest/img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;

}

.navbar-toggler-icon {
    background-image: url('/assest/img/menu-icon.png');
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:hover {
    border: none !important;
}

.no-border:focus {
    border: none;
    box-shadow: none;
}
.search-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.search-box input {
    border-radius: 0;
}
.search-box .input-group-text {
    background-color: white;
}
input{
    border: none !important;
}
input:focus-visible{
    border: none !important;
    box-shadow: none !important;
}